# Library

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

from utils import *

ModuleNotFoundError: No module named 'utils'

# Data

In [ ]:
df = pd.read_csv(
    r'...',
    encoding='utf-8',
)

In [ ]:
df.head()

,Temperature,Humidity,Wind Speed,Precipitation (%),Cloud Cover,Atmospheric Pressure,UV Index,Season,Visibility (km),Location,Weather Type
0,14.0,73,9.5,82.0,partly cloudy,1010.82,2,Winter,3.5,inland,Rainy
1,39.0,96,8.5,71.0,partly cloudy,1011.43,7,Spring,10.0,inland,Cloudy
2,30.0,64,7.0,16.0,clear,1018.72,5,Spring,5.5,mountain,Sunny
3,38.0,83,1.5,82.0,clear,1026.25,7,Spring,1.0,coastal,Sunny
4,27.0,74,17.0,66.0,overcast,990.67,1,Winter,2.5,mountain,Rainy

In [ ]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

# Overview

In [ ]:
print(f"Num of variables:", df.shape[1])
print(f"Num of rows:", df.shape[0])

Num of variables: 11
Num of rows: 13200

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13200 entries, 0 to 13199
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   temperature           13200 non-null  float64
 1   humidity              13200 non-null  int64
 2   wind_speed            13200 non-null  float64
 3   precipitation_(%)     13200 non-null  float64
 4   cloud_cover           13200 non-null  object
 5   atmospheric_pressure  13200 non-null  float64
 6   uv_index              13200 non-null  int64
 7   season                13200 non-null  object
 8   visibility_(km)       13200 non-null  float64
 9   location              13200 non-null  object
 10  weather_type          13200 non-null  object
dtypes: float64(5), int64(2), object(4)
memory usage: 1.1+ MB

## Data

## Grouping variables by their respective data types

###  Numerical and object

In [ ]:
numerical_cols, categorical_cols, date_cols= group_columns_by_type(df, display_info=True)

Total numeric columns: 7
Numeric columns: ['temperature', 'humidity', 'wind_speed', 'precipitation_(%)', 'atmospheric_pressure', 'uv_index', 'visibility_(km)']

Total categorical columns: 4
Categorical columns: ['cloud_cover', 'season', 'location', 'weather_type']

## Datetime

In [ ]:
df[categorical_cols].head()

     cloud_cover  season  location weather_type
0  partly cloudy  Winter    inland        Rainy
1  partly cloudy  Spring    inland       Cloudy
2          clear  Spring  mountain        Sunny
3          clear  Spring   coastal        Sunny
4       overcast  Winter  mountain        Rainy

=> Has no datetime

# Duplicated

In [ ]:
df.duplicated().sum()

np.int64(0)

# Missing values

In [ ]:
df.isnull().sum()

temperature             0
humidity                0
wind_speed              0
precipitation_(%)       0
cloud_cover             0
atmospheric_pressure    0
uv_index                0
season                  0
visibility_(km)         0
location                0
weather_type            0
dtype: int64

## Numeric

## Object

## Datetime

## Report

None missing values

# Save

## Metadata `.json`

In [ ]:
save_metadata(
    df,
    r"D:\_Dev\My Project\Weather Classification\Code\data\metadata\metadata1.json",
)

## To `.csv`

In [ ]:
df.to_csv(
    r"D:\_Dev\My Project\Weather Classification\Code\data\clean\clean1.csv",
    index=False,
    encoding="utf-8",
)