# Library

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

from analysis import *
from utils import *

# Data

In [3]:
df = pd.read_csv(
    r'../../data/cleaned/clean2.csv',
    encoding='utf-8',
)

In [4]:
df.head()

,price,availability,number_of_products_sold,revenue_generated,stock_levels,lead_times,order_quantities,shipping_times,shipping_costs,lead_time,...,product_type,sku,customer_demographics,shipping_carriers,location,inspection_results,transportation_modes,routes,shipping_times_category,supplier_name
0,69.808006,55,802,8661.996792,58,7,96,4,2.956572,29,...,haircare,SKU0,Non-binary,Carrier B,Mumbai,Pending,Road,Route B,Standard,2
1,14.843523,95,736,7460.900065,53,30,37,2,9.716575,23,...,skincare,SKU1,Female,Carrier A,Mumbai,Pending,Road,Route B,Express,2
2,11.319683,34,8,9577.749626,1,10,88,2,8.054479,12,...,haircare,SKU2,Unknown,Carrier B,Mumbai,Pending,Air,Route C,Express,0
3,61.163343,68,83,7766.836426,23,13,59,6,1.729569,24,...,skincare,SKU3,Non-binary,Carrier C,Kolkata,Fail,Rail,Route A,Standard,4
4,4.805496,26,871,2686.505152,5,3,56,8,3.890548,5,...,skincare,SKU4,Non-binary,Carrier A,Delhi,Fail,Air,Route A,Economy,0

# Load metadata

In [5]:
df = load_metadata(
    df,
    r"../../data/metadata/metadata2.json",
)

# Overview

## Check

In [6]:
print(f"Num of varibles:", df.shape[1])
print(f"Num of rows:", df.shape[0])

Num of varibles: 25
Num of rows: 100

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   price                    100 non-null    float64
 1   availability             100 non-null    int64
 2   number_of_products_sold  100 non-null    int64
 3   revenue_generated        100 non-null    float64
 4   stock_levels             100 non-null    int64
 5   lead_times               100 non-null    int64
 6   order_quantities         100 non-null    int64
 7   shipping_times           100 non-null    int64
 8   shipping_costs           100 non-null    float64
 9   lead_time                100 non-null    int64
 10  production_volumes       100 non-null    int64
 11  manufacturing_lead_time  100 non-null    int64
 12  manufacturing_costs      100 non-null    float64
 13  defect_rates             100 non-null    float64
 14  costs                    100 non-null    float64
 15  product_type             100 non-null    category
 16  sku                      100 non-null    category
 17  customer_demographics    100 non-null    category
 18  shipping_carriers        100 non-null    category
 19  location                 100 non-null    category
 20  inspection_results       100 non-null    category
 21  transportation_modes     100 non-null    category
 22  routes                   100 non-null    category
 23  shipping_times_category  100 non-null    category
 24  supplier_name            100 non-null    category
dtypes: category(10), float64(6), int64(9)
memory usage: 19.1 KB

In [8]:
df.isnull().sum()

price                      0
availability               0
number_of_products_sold    0
revenue_generated          0
stock_levels               0
lead_times                 0
order_quantities           0
shipping_times             0
shipping_costs             0
lead_time                  0
production_volumes         0
manufacturing_lead_time    0
manufacturing_costs        0
defect_rates               0
costs                      0
product_type               0
sku                        0
customer_demographics      0
shipping_carriers          0
location                   0
inspection_results         0
transportation_modes       0
routes                     0
shipping_times_category    0
supplier_name              0
dtype: int64

## Varibles and target

In [9]:
target = ['supplier_name ']
variablies = [col for col in df.columns if col not in target]

print(target)
print(variablies)

['supplier_name ']
['price', 'availability', 'number_of_products_sold', 'revenue_generated', 'stock_levels', 'lead_times', 'order_quantities', 'shipping_times', 'shipping_costs', 'lead_time', 'production_volumes', 'manufacturing_lead_time', 'manufacturing_costs', 'defect_rates', 'costs', 'product_type', 'sku', 'customer_demographics', 'shipping_carriers', 'location', 'inspection_results', 'transportation_modes', 'routes', 'shipping_times_category', 'supplier_name']

# Grouping Varibles by their respective data types (except target)

In [12]:
numerical_cols, categorical_cols, _ = group_columns_by_type(df[variablies], display_info=True)

Total numeric columns: 15
Numeric columns: ['price', 'availability', 'number_of_products_sold', 'revenue_generated', 'stock_levels', 'lead_times', 'order_quantities', 'shipping_times', 'shipping_costs', 'lead_time', 'production_volumes', 'manufacturing_lead_time', 'manufacturing_costs', 'defect_rates', 'costs']

Total categorical columns: 10
Categorical columns: ['product_type', 'sku', 'customer_demographics', 'shipping_carriers', 'location', 'inspection_results', 'transportation_modes', 'routes', 'shipping_times_category', 'supplier_name']

# Bivariate

# Save

In [ ]:
df = pd.concat([df[numerical_cols + categorical_cols + date_cols + target]], axis=1)

## Metadata `.json`

In [ ]:
save_metadata(
    df,
    "",
)

## To `.csv`

In [ ]:
df.to_csv(
    r"",
    index=False,
    encoding="utf-8",
)