# Library

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

# Data

In [ ]:
df = pd.read_csv(
    r'',
    encoding='utf-8',
)

In [4]:
df.head()

,location.lat,location.lon,day.avgtemp_c,day.maxwind_kph,day.avgvis_km,day.avghumidity,day.daily_chance_of_rain,astro.moon_illumination,sunrise_hour,sunset_hour,...,has_moonset,moon_event_type,dayofweek,dayofmonth,month,weekofyear,quarter,is_weekend,season,day.totalprecip_mm
0,10.7000,105.1167,31.7,18.9,10.0,50,0,90,5.766667,18.183333,...,1,both,6,21,4,16,2,True,spring,0.0
1,21.2667,106.2000,28.0,23.0,9.4,77,100,90,5.533333,18.266667,...,1,both,6,21,4,16,2,True,spring,3.8
2,22.1333,105.8333,25.1,9.1,8.3,89,100,90,5.533333,18.316667,...,1,both,6,21,4,16,2,True,spring,16.1
3,9.2850,105.7244,30.7,18.7,10.0,58,0,90,5.750000,18.116667,...,1,both,6,21,4,16,2,True,spring,0.0
4,21.1833,106.0500,28.0,23.0,9.4,77,100,90,5.533333,18.283333,...,1,both,6,21,4,16,2,True,spring,3.8

# Load metadata

In [ ]:
df = load_metadata(
    df,
    r"",
)

# Overview

## Check

In [6]:
print(f"Num of varibles:", df.shape[1])
print(f"Num of rows:", df.shape[0])

Num of varibles: 29
Num of rows: 26018

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26018 entries, 0 to 26017
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   location.lat              26018 non-null  float64
 1   location.lon              26018 non-null  float64
 2   day.avgtemp_c             26018 non-null  float64
 3   day.maxwind_kph           26018 non-null  float64
 4   day.avgvis_km             26018 non-null  float64
 5   day.avghumidity           26018 non-null  int64
 6   day.daily_chance_of_rain  26018 non-null  int64
 7   astro.moon_illumination   26018 non-null  int64
 8   sunrise_hour              26018 non-null  float64
 9   sunset_hour               26018 non-null  float64
 10  daylight_hours            26018 non-null  float64
 11  location.name             26018 non-null  category
 12  location.region           26018 non-null  category
 13  location.terrain          26018 non-null  category
 14  day.daily_will_it_rain    26018 non-null  category
 15  day.condition.code        26018 non-null  category
 16  day.uv                    26018 non-null  category
 17  astro.moon_phase          26018 non-null  category
 18  has_moonrise              26018 non-null  category
 19  has_moonset               26018 non-null  category
 20  moon_event_type           26018 non-null  category
 21  dayofweek                 26018 non-null  category
 22  dayofmonth                26018 non-null  category
 23  month                     26018 non-null  category
 24  weekofyear                26018 non-null  category
 25  quarter                   26018 non-null  category
 26  is_weekend                26018 non-null  category
 27  season                    26018 non-null  category
 28  day.totalprecip_mm        26018 non-null  float64
dtypes: category(17), float64(9), int64(3)
memory usage: 2.8 MB

In [8]:
df.isnull().sum()

location.lat                0
location.lon                0
day.avgtemp_c               0
day.maxwind_kph             0
day.avgvis_km               0
day.avghumidity             0
day.daily_chance_of_rain    0
astro.moon_illumination     0
sunrise_hour                0
sunset_hour                 0
daylight_hours              0
location.name               0
location.region             0
location.terrain            0
day.daily_will_it_rain      0
day.condition.code          0
day.uv                      0
astro.moon_phase            0
has_moonrise                0
has_moonset                 0
moon_event_type             0
dayofweek                   0
dayofmonth                  0
month                       0
weekofyear                  0
quarter                     0
is_weekend                  0
season                      0
day.totalprecip_mm          0
dtype: int64

## Varibles and target

['day.totalprecip_mm']
['location.lat', 'location.lon', 'day.avgtemp_c', 'day.maxwind_kph', 'day.avgvis_km', 'day.avghumidity', 'day.daily_chance_of_rain', 'astro.moon_illumination', 'sunrise_hour', 'sunset_hour', 'daylight_hours', 'location.name', 'location.region', 'location.terrain', 'day.daily_will_it_rain', 'day.condition.code', 'day.uv', 'astro.moon_phase', 'has_moonrise', 'has_moonset', 'moon_event_type', 'dayofweek', 'dayofmonth', 'month', 'weekofyear', 'quarter', 'is_weekend', 'season']

# Grouping Varibles by their respective data types (except target)

In [ ]:
numerical_cols, categorical_cols, _ = group_columns_by_type(df, display_info=True)

Total numeric columns: 11
Numeric columns: ['location.lat', 'location.lon', 'day.avgtemp_c', 'day.maxwind_kph', 'day.avgvis_km', 'day.avghumidity', 'day.daily_chance_of_rain', 'astro.moon_illumination', 'sunrise_hour', 'sunset_hour', 'daylight_hours']

Total object columns: 17
Object columns: ['location.name', 'location.region', 'location.terrain', 'day.daily_will_it_rain', 'day.condition.code', 'day.uv', 'astro.moon_phase', 'has_moonrise', 'has_moonset', 'moon_event_type', 'dayofweek', 'dayofmonth', 'month', 'weekofyear', 'quarter', 'is_weekend', 'season']